.cart__item
    position relative
    font-size 0
    margin-bottom 30px
    padding-bottom 40px
    &:after
        content ''
        opacity .4
        position: absolute;
        left: 0;
        right: 0;
        height: 7px;
        bottom 0
        background inline('pattern-footer.png') repeat-x

.cart__item-col
    display inline-block
    vertical-align middle
    font-size 17px
    word-wrap: break-word;

.cart__wallpapers
    width 24.75%
    margin-right 1.25%

.cart__names
    width 24.916666666667%
    margin-right 1.25%

.cart__quantity
    width 24.75%
    margin-right 1.25%

.cart__price
    width 17.5%
    margin-right 1.25%

.cart__delete
    width 3.083333333333%

.cart__delete-btn
    display inline-block
    vertical-align middle
    width 37px
    height 37px
    border none
    outline none
    padding 0
    position relative
    cursor pointer
    &:after,
    &:before
        content ''
        width: 15px
        height: 2px
        background-color: #fff
        transition: all 0.3s
        backface-visibility: hidden
        border-radius: 2px
        position: absolute
        left: 11px
        top: 18px
    &:before
        transform: rotate(45deg)
    &:after
        transform: rotate(-45deg)
    span
        visibility hidden

.cart__name
    text-transform uppercase
    font-weight 700
    font-size: 23px;
    letter-spacing: -.005em;
    line-height: 1.8;

.cart-price
    font-weight 700
    font-size: 23px;

.cart-price_old
    text-decoration: line-through;

.wrap-quantity
    position relative
    display inline-block
    vertical-align middle

.cart__quantity-field
    border 1px solid #ccc
    padding: 8px;
    padding-right 18px
    outline none
    padding: 8px 25px 7px 8px;
    width 62px
    text-align center
    height 36px
    &:hover,
    &:focus,
    &:active
        border-color #989898
        +
            div
                border-color #989898

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    appearance: none;
    margin: 0;

input[type=number]
    -moz-appearance: textfield;

.quantity-nav
  position absolute
  right 1px
  top 1px
  bottom 1px
  border-left: 1px solid #ccc;

.quantity-button
    position: relative;
    cursor: pointer;
    width: 17px;
    height 17px
    background-color #92A8D1
    &:before
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        margin auto
        // sprite($s-quantity-control)
    &:hover
        background #8daae0
    &:focus
        background #83a0d6
    &:active
        background #7c9fe0

.quantity-button.quantity-up
    border-bottom: 1px solid #ccc;
    &:before
        width 9px
        height 9px
        border-left 1px solid #fff
        border-bottom 1px solid #fff
        transform: rotate(135deg);
        top: 4px;


.quantity-button.quantity-down
    transform: rotate(180deg);
    &:before
        width 9px
        height 9px
        border-left 1px solid #fff
        border-bottom 1px solid #fff
        transform: rotate(135deg);
        bottom: -3px;

.btn__cart-footer
    float left
    margin-right 15px
    background-color $pink
    &:hover
        background #f14c4d
    &:focus
        background #e23c3e
    &:active
        background #dc3e46

.cart-footer
    font-size 0
    padding-bottom 73px

.cart-footer__item
    display inline-block
    vertical-align top

.cart-footer__item_btn
    width 50.916666666667%
    margin-right 1.25%

.cart-footer__item_shipping
    width 24.75%
    margin-right 1.25%

.cart-footer__item
    font-size: 22px;
    letter-spacing: -0.005em;

.cart-footer__item-title
    text-transform: uppercase;
    margin-bottom: 3px;

.cart-footer__item-price
    font-weight: 700;
    line-height: 1;

.cart-footer__item_total
    width 21.833333333333%

.cart__title
    text-transform uppercase
    font-family: 'MintTypeRistrettoSlabProRegular', sans-serif;
    font-size: 48px;
    letter-spacing: 0.02em;

.cart__checkout
    >
        input,
        div,
        label
            max-width 440px
            display block

.cart__title_checkout
    margin-bottom 15px

.cart__shipping
    margin-right 177px

.cart__shipping,
.cart__information
    width 440px
    display inline-block
    vertical-align top

.cart__footer-col
    padding-bottom: 62px;
    label
        margin-bottom: 5px;
    input[type="text"],
    input[type="email"]
        margin-bottom: 12px;
    p
        color #989898
.cart__information
    padding-bottom: 97px;
    p
        margin-bottom 25px

.btn-create-payment
    font-size: 36px;
    margin: 10px 0;
    font-family: 'MintTypeRistrettoSlabProRegular', sans-serif;
    padding: 6px 26px 5px;

.cart__shipping-col
    font-size 18px
    display inline-block
    vertical-align top
    width 49%
    padding: 7px 0;
    input[type="radio"]
        margin-right 5px
    &._right
        text-align right
        padding-right 50px

.cart__shipping-row
    &._shipping
        margin-top 5px
    &._home
        input[type="text"]
            width 200px
            margin-bottom 0
    .cart__shipping-col
        &:last-child
            text-align right

.cart__title_shipping
    margin-bottom 9px

.woocommerce .wrap-cart__items a.remove 
    display: inline-block
    vertical-align: middle
    width: 37px
    height: 37px
    border: none
    outline: none
    padding: 0
    position: relative
    cursor: pointer
    border-radius: 0
    &:hover
        background: #8daae0;
        color: #fff;

#ship-to-different-address
    line-height: 10px

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order
    border: 0

.shop_table_responsive
    float left
    .button
        margin 0 0 0 15px;
        height 39px;
        border-radius 0;
        font-weight normal;
        font-size 17px;
        line-height 19px

.shipping-calculator-form
    display none
    
.cart__footer-col.cart__information
    padding-bottom 15px
    
.woocommerce-billing-fields #billing_address_1_field,.woocommerce-billing-fields #billing_address_2_field,.woocommerce-billing-fields #billing_city_field,.woocommerce-billing-fields #billing_delivery_point_field,.woocommerce-billing-fields #billing_state_field
    display none !important

#append-fields #billing_delivery_point_field,
#append-fields #edostavka_map,
#append-fields .address-field
    max-width 440px

#edostavka_map
    margin 0

#payment
    margin 0 !important
    
.shipping-calculator-form,
.shop_table_responsive.cart input[name=update_cart]
    display none
    
.select2-container .select2-choice
    width 440px
    