.footer
    font-size 0
    position relative
    padding-top 55px
    padding-bottom 75px
    min-width 1200px

    &:before
        content ''
        position: absolute;
        left: 0;
        right: 0;
        height: 7px;
        top 0
        background inline('pattern-footer.png') repeat-x

.footer__item
    display inline-block
    vertical-align top
    font-size 16px
    &:first-child
        width 70%
    &:last-child
        width 30%
        text-align right

html
  position: relative;
  min-height: 100%;

body
  margin-bottom: 166px;

.footer
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 166px;
