.works__slider
	position relative
	margin-bottom 60px
	padding 5px 29px 0
	text-align center
	.owl-item			
		&:first-child
			.works__item
				margin-left 0
	.owl-controls
		margin-top 18px				
		.owl-pagination
			.owl-page
				margin-left 17px
				display inline-block
				span
					display inline-block
					width 18px
					height 18px
					border-radius 50%
					background-color #ecebeb
					transition opacity .2s ease
				&:first-child
					margin-left 0
				&.active
					span
						background-color #e19da1
	.owl-buttons
		.owl-prev
			left 0
			transform rotate(180deg)
		.owl-next			
			right 0
		.owl-prev,
		.owl-next
			position absolute
			top -35px
			bottom 0			
			margin auto			
			width 16px
			height 42px
			font-size 0						
			content ''				
			sprite($s-arrow-works-slider)
			transition all .3s
			&:hover
				opacity .7

.works__item
	postion relative
	margin-left 0
	display inline-block
	text-align center
	i
		display block
		position absolute
		right 19px
		bottom 3px
		width 33px
		height 34px
		sprite($s-zoom)